nav {
    height: 100%;
    background-color: blue;
    color: whitesmoke
}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-nav-button:hover {
    background-color: rgba(255, 255, 255 , 0.2);
    border-radius: 30%;
}

.navbar-brand {
    pointer-events: none;
    color: whitesmoke;
    font-size: larger;
}

.nav-link {
    color: whitesmoke !important;
}

.more-vert-button {
    color: white; 
    margin-top: 10px;
}

.dropdown-item {
    cursor: pointer !important;
}